* {
  list-style-type: none;
  font-family: Roboto;
}
.link-item {
  text-decoration: none;
}
.each-job-item-container {
  background-color: #202020;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
}
.company-logo-img {
  height: 50px;
  width: 50px;
  margin-right: 25px;
}
.job-title {
  font-size: 20px;
  color: white;
  font-weight: 550;
  margin: 0px;
}
.star-icon {
  color: #fbbf24;
  height: 20px;
  width: 20px;
}
.star-number {
  font-size: 24px;
  color: white;
  margin: 0px;
}
.each-job-profile-container {
  display: flex;
  align-items: center;
}
.job-loc-pack-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.location-icon {
  color: #cbd5e1;
  height: 16px;
  width: 16px;
}
.location-text {
  color: #cbd5e1;
  font-size: 16px;
  margin-left: 6px;
}
.job-location-container {
  display: flex;
  align-items: center;
}
.salary-text {
  color: #cbd5e1;
  font-size: 15px;
  margin-right: 10px;
}
.locat {
  display: flex;
  align-items: center;
  margin-right: 13px;
}
.desc-text {
  color: white;
  font-size: 18px;
}
.job-desc-text {
  color: #7e858e;
  font-family: 16px;
}
.star-container {
  display: flex;
  align-items: center;
  margin: 0px;
}
